body { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: #edf0f5;}
form { text-align: center;}

input { 
    border-radius: 0%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto; 
    border-style: groove;
    border-radius: 5px;
}

p, a{ font-size: 30%; 
    display: inline-block;
}

h4 { font-weight: lighter; color: rgb(87, 87, 87);}

#terms { color: rgb(87, 87, 87);}

#sbutton {
    color:white;
    background: #659d50;
    font-size: 30px;
    padding: 15px;
    border: 2px white;
    border-radius: 6px;
    width: 20%;
    font-weight: bold;
}



