body { font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: #edf0f5;}

form { text-align: center;}

input { 
    border-radius: 0%;
    padding: 7px;
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-radius: 5px;
    border-width: 50%;
    border-color: #9e9e9e;
    position: relative;
    font-size: 18px;
}

p, a{ font-size:10px; 
    display: inline-block;
}

h4 { font-weight: lighter; color: rgb(87, 87, 87);}


#terms { color: rgb(87, 87, 87);}

#sbutton {
    color:white;
    background: #659d50;
    font-size: 20px;
    padding: 15px;
    border: 2px white;
    border-radius: 6px;
    width: 15%;
    font-weight: bold;
}

#email, #email2, #pw { width: 570px;}

