* { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191315;
}

h1 { text-align: center;
    letter-spacing: 0.05em;
    color: #F3ECF3;
    font-size: 270%;
}

header {
    background: #C0A5AB;
    padding: 12px;
}

.background {
    color: #F3ECF3;
    background-color: #673D46;
    padding: 12px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 120%;
}

h4 {
    display:inline-block;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 130%;
}

h3 {
    color: #F3ECF3;
    font-size: 110%;
}

.flex {
    display: flex;
}

.flex > h4 { flex: 1;}

a { color: #AB5869}


table, td, th {
    border:transparent;
    border-collapse: collapse;
    border-radius: 0%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tbody {
    color: #F3ECF3;
    font-size: 100%;
}