* { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #191315;
    box-sizing: border-box;
}

h1 { text-align: center;
    letter-spacing: 0.05em;
    color: #F3ECF3;
    font-size: 270%;
}

header {
    background: #C0A5AB;
    padding: 12px;
}

.background {
    color: #F3ECF3;
    background-color: #673D46;
    padding: 12px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 120%;
}

h4 {
    display:inline-block;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 130%;
}

h3 {
    color: #F3ECF3;
    font-size: 130%;
    margin-left: 40px;
}


.flex {
    display: flex;
}

.flex > h4 { flex: 1;}

a { color: #AB5869}

ul { color: #AB5869}


table, td, th {
    border:transparent;
    border-collapse: collapse;
    border-radius: 0%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

tbody {
    color: #F3ECF3;
    font-size: 100%;
}

form {
    margin-left: 120%;
    margin-bottom: 20%;
}

input {
    border-radius: 0%;
    padding: 7px;
    border-style: solid;
    border-radius: 5px;
    border-width: 50%;
    background-color: #C0A5AB;
    border-color: black;
    color: black;
    position: relative;
    font-size: 18px;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

label {
    border-color: black;
}

textarea {
    background-color: #C0A5AB;
    
}

.contact {
    display: inline-block;

}

#contact1 {
    margin-left: 30%;
    color: #F3ECF3;
    
}

#contact2 {
    margin-left: 40%;
    color: #F3ECF3;
    
}

#sbutton {
    color:white;
    background-image: linear-gradient(#AB5869, rgb(136, 57, 73));
    font-size: 20px;
    padding: 10px;
    border: 2px white;
    border-radius: 6px;
    width: 180px;
    font-weight: bold;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}