* { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FCFBFB;
    box-sizing: border-box;
}

h1 { text-align: center;
    letter-spacing: 0.05em;
    color: #110B0E;
    font-size: 270%;
}

header {
    background: #ADC9B2;
    padding: 12px;
}

.background {
    border-radius: 0%;
    color: #FCFBFB;
    background-color: #9C6881;
    padding: 16px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 140%;
    border-radius: 5px;
}

.start {
    display: inline-block;

}

h4 {
    display:inline-block;
    padding: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 160%;
}

h3 {
    color: #110B0E;
    font-size: 160%;
    margin-left: 40px;
}


.flex {
    display: flex;
}

.flex > h4 { flex: 1;}

#contact {
    color: #110B0E;
}


ul { color: #85A9AF}


table, td, th {
    border:transparent;
    border-collapse: collapse;
    border-radius: 0%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td p {
    color: #110B0E;
}

tbody {
    color: #F3ECF3;
    font-size: 100%;
}

form {
    margin-left: 120%;
    margin-bottom: 20%;
}

input {
    padding: 9px;
    border: none;
    border-radius: 20px;
    border-width: 50%;
    background-color: #ADC9B2;
    position: relative;
    font-size: 160%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}

::placeholder { color: white;}

.contact {
    display: inline-block;

}

#contact1 {
    margin-left: 30%;
    color: #110B0E;
    
}

#contact2 {
    margin-left: 40%;
    color: #110B0E;
    
}

#sbutton {
    color:white;
    background-image: linear-gradient(#85A9AF, #61878e);
    font-size: 30px;
    padding: 12px;
    border: 2px white;
    border-radius: 6px;
    width: 200px;
    font-weight: bold;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.socials a { 
    color: #85A9AF;
}


.topnav { overflow: hidden; background: #333; }
.topnav a { 
    float: left; 
    display: block; 
    color:white; 
    text-align: center; 
    padding: 15px; }
.topnav a:hover { background: #ddd; color:black; }