* { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}

table, td, th {
    border: 1px solid #181C12;
    border-collapse: collapse;
    border-radius: 0%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

th { background-color: #7ea4c0; }

tbody thead, caption, p {
    font-size: medium; color: #181C12;
    font-weight:400;
}

body {
    background-image: radial-gradient(#E8C0C3, #FFFFFF);
}

h1 { text-align: center;
    color:#A0653B;
}

li, a { color: #A0653B;}

.caption { display: inline;}

