* { 
    font-family: 'Courier New', Courier, monospace;
    font-size: small; color: #100A09;
    
}

table, td, th {
    border: 1px solid #100A09;
    border-collapse: collapse;
    border-radius: 0%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

th { background-color: #E4D8BE; }

tbody thead, caption, p {
    font-size: small;
}

body {
    background-image: radial-gradient(#E3D3CE, #F2EAE8);
}

h1 { text-align: center;
    color:#973F5B}

li, a { color: #973F5B;}

.float-r {
    float: right;
    text-align: center; }

.float-l { 
    float: left;
    text-align: center;
}

.float-c {
    text-align: center;
}