h1, h3 { color:#A4A400; 
    background:#F0F0F0; 
    font-size: 22pt;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

a { color:#A4A400 }

p, blockquote { color:#404040;
font-size: 11pt;}

blockquote { background-color: rgb(255, 255, 183); }