* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

body {
    background-color: #E2E0F0;
}

input { 
    border-radius: 0%;
    padding: 7px;
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-radius: 5px;
    border-width: 50%;
    border-color: #504794;
    position: absolute;
    font-size: 18px;
}

button {
    color:white;
    background-image: linear-gradient(#5d54a4, #504794);
    font-size: 20px;
    padding: 15px;
    border: 2px white;
    border-radius: 6px;
    width: 15%;
    font-weight: bold;
}