* {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

body {
    background-image: radial-gradient(#BBA1BF, #EAE1E2);
    margin-top: 50px;
}

label {
    font-size: 120%;
    font-weight:500;
}

input { 
    border-radius: 0%;
    padding: 7px;
    margin-left: auto;
    margin-right: auto; 
    border-style: solid;
    border-radius: 5px;
    border-width: 50%;
    border-color: #64607e;
    position:relative;
    font-size: 18px;
}

button {
    color:white;
    background-image: linear-gradient(#a582aa, #926798);
    font-size: 100%;
    padding: 10px;
    border: 2px white;
    border-radius: 6px;
    width: 15%;
    font-weight: bold;
}